<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Outsidee.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>591101E5E88784C1CBE7DC138F5E63FFA2023706</string>
				<key>dateExpires</key>
				<string>20/01/2024</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>LNXLQPMD85.org.reactjs.native.example.Outsidee</string>
				<key>com.apple.developer.team-identifier</key>
				<string>LNXLQPMD85</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>LNXLQPMD85.org.reactjs.native.example.Outsidee</string>
				</array>
			</dict>
			<key>name</key>
			<string>Outsidee.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3aebf6ab-a476-44d3-8a76-093eefc285ed</string>
				<key>dateExpires</key>
				<string>20/01/2024</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>LNXLQPMD85</string>
				<key>name</key>
				<string>Muhammad Zaid Khan</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
