<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Outsidee.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D12EE3B4D0546DAE62F7C434F67D7C3A022CB702</string>
				<key>dateExpires</key>
				<string>08/02/2024</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>6U3MKUFT3W.com.celectstudios.outsidee</string>
				<key>com.apple.developer.team-identifier</key>
				<string>6U3MKUFT3W</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>6U3MKUFT3W.com.celectstudios.outsidee</string>
				</array>
			</dict>
			<key>name</key>
			<string>Outsidee.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>9a51a1d6-257f-49f2-a370-76071e270667</string>
				<key>dateExpires</key>
				<string>08/02/2024</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6U3MKUFT3W</string>
				<key>name</key>
				<string>TRK LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
